.gridRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

@media (min-width: 768px) {
  .gridRow { grid-template-columns: repeat(4, 1fr); }
}

.cell {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  transition: all 0.2s;
}

.cell:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
